{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="common_header">
        <img src="{% static "images/submit.png" %}" alt="" style="width: 100%;display: block;">
    </div>
    <form class="form" action="{% url "accounts:submit" mobile_phone %}" method="post">
        <div class="select select_sex">
            <span>您的性别</span>
            <div class="message">
                <select name="gender" id="" class="change">
                    <option value="M">男</option>
                    <option value="F">女</option>
                </select>
            </div>
        </div>
        <div class="select">
            <span>您的年龄</span>
            <div class="message"><input type="text" class="change" name="age"></div>
        </div>
        <div class="select">
            <span>您的身高</span>
            <div class="message"><input type="text" class="change" name="height"><em style="position: absolute;right: 8px;top: 0;color: #d2d2d2;">cm</em></div>
        </div>
        <div class="select">
            <span>您的体重</span>
            <div class="message"><input type="text" class="change" name="weight"><em style="position: absolute;right: 8px;top: 0;color: #d2d2d2;">kg</em></div>
        </div>
        <div class="next">
            <button type="submit" id="next" class="next_btn" style="margin-top: 0.8rem;">下一步</button>
        </div>
    </form>
{% endblock %}